cmake
certifi==2019.11.28
chardet==3.0.4
Click==7.0
cmudict==0.4.3
dlib==19.19.0
face-recognition==1.2.3
face-recognition-models==0.3.0
Flask==1.0.2
gunicorn==20.0.4
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.3
MarkupSafe==1.1.1
natsort==6.0.0
nltk==3.4
numpy==1.16.2
Pillow==7.0.0
praw==6.1.1
prawcore==1.0.1
pronouncing==0.2.0
requests==2.21.0
singledispatch==3.4.0.3
six==1.13.0
update-checker==0.16
urllib3==1.24.3
websocket-client==0.57.0
Werkzeug==0.14.1
